body {
  background-color: aliceblue;
  user-select: none;
}
input {
  outline: none;
}
.back_icon {
  float: right;
  cursor: pointer;
  user-select: none;
}
.cancel_icon {
  float: right;
  margin-left: 1rem;
  cursor: pointer;
  user-select: none;
}
div {
  margin: 0.4rem 0;
}
.commandlist {
  margin-left: 2rem;
}
.required {
  height: 0.8rem;
  font-size: 0.8rem;
  color: red;
}
.hidemessage {
  display: none;
}
.save_message {
  height: 0.8rem;
  font-size: 0.8rem;
  color: red;
}
